body {
   font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
   font-size:12px;
   line-height:18px;
}
#container {
   width:800px;
   margin:0 auto;
}
h1 {
   float:left;
   font-size:72px;
   line-height:108px;
   padding-left:36px;
}
h2 {
   clear:both;
}
h1, .mtlink a {
   color:#444;
}
.mtlink a:hover {
   color:#000;
}
h2, #notes ul li, #local, #arbitrary {
   margin-bottom:18px;
}
h2, h4, h5 {
   font-size:36px;
   line-height:54px;
   color:#666;
}
h3, pre, #description, #licensing, #footer {
   font-size:24px;
   line-height:36px;
}
h3 strong, h5{
   color:#C00;
}
h4, h5, h6 {
   margin-top:18px;
}
h1, h2, h3, h6 {
   text-align:center;
}
#description{
   clear:both;
}
#arbitrary p, #local p {
   font-size:15px;
   line-height:18px;
   padding:0 15px;
}
#local, #arbitrary {
   width:400px;
   float:left;
}
#localclock, #arbitraryclock {
   font-size:72px;
   line-height:108px;
   margin-left:55px;
}
#instructions {
   margin-top:9px;
}
#instructions p {
   margin:9px 0;
}
pre {
   font-family:"Courier New", Courier, monospace;
   color:#777;
}
#notes ul {
   list-style-type:circle;
   margin:9px 80px;
}
q {
   font-style:italic;
}
#smiley {
   font-weight:bold;
   color:#0A0;
}
#download {
   float:right;
   padding-right:36px;
}
